<!DOCTYPE html>
<html>
<head>
	<title>Templates</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="container">
  	<div class="first  con">
  		Job Opening
  	</div>
  	<div class="first-line"></div>
  	<div class="down one"></div>
  	<div class="second con">
  		Requirement Training
  	</div>
  	<div class="second-line"></div>
  	<div class="down two"></div>
  	<hr id="horizontal">
  	<div class="third-line"></div>
  	<div class="fourth-line"></div>
  	<div class="fifth-line"></div>
  	<div class="sixth-line"></div>
  	<div class="seventh-line"></div>
  	<div class="down three"></div>
  	<div class="down four"></div>
  	<div class="down five"></div>
  	<div class="down six"></div>
  	<div class="down seven"></div>
  	<div class="third con">
  		Resume Templates
  	</div>
  	<div class="fourth con">
  		Job Opening Template
  	</div>
  	<div class="fifth con">
  		Job Posting Template
  	</div>
  	<div class="sixth con">
  		Screening Template
  	</div>
  	<div class="seventh con">
  		Interview Evaluation Template
  	</div>
  	<div class="eight-line"></div>
  	<div class="nine-line"></div>
  	<div class="ten-line"> </div>
  	<div class="leven-line"></div>
  	<div class="twel-line"></div>
  	<div class="thirteen-line"></div>
  	<div class="fourteen-line"></div>
    <div class="down eight"></div>
    <div class="eight-con"></div>
  </div>
</body>
</html>