*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    width: 100px;
    height: 100px;
}
.container{
    width: 100%;
    height: auto;
    background-color: rgb(183, 187, 187);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr)) ;
    grid-template-rows: repeat(5,100px);
    grid-gap: 10px;
}
.subcon{
    width: 200px;
    height: 100px;
    background-color: aqua;
    display: grid;
    grid-template: repeat(2,50%)/repeat(2,50%);
    grid-auto-flow: column;
    grid-gap: 1px;
}
.subcon >div{
    background-color: pink;
    padding: 10px;
}
#vendam{
    display: none;
}