appmgr.angularTemplate.getTemplateWithTag('cd1')
`<pali-ide-page #x825fbb1eb3>
    <div #xff328760db id="el-cd1-container" class="pas-style-cd1-container">
        <div #xabfcf4ed60 class="pas-style-969108df13" id="el-969108df13" [attr.pas-grid]="''">
            <div #x08747c020d class="pas-style-1b2a514ae6" id="el-1b2a514ae6" [attr.pas-horizontal-flex]="''"><span
                    #x9974fe7404 id="el-f8dea930ab" [attr.pas--datatext]="''">ZAsk</span></div>\n<div #xc58bca9ce5
                class="pas-style-292b9a8495" id="el-292b9a8495" [attr.pas-grid]="''">
                <div #x0dba88ad11 class="pas-style-18a894fe7e" id="el-18a894fe7e" [attr.pas-horizontal-flex]="''">
                    <div #x8b5750a356 id="el-0fb7d8fd81" [attr.pas-horizontal-flex]="''" class="pas-style-0fb7d8fd81">
                    </div>\n<div #xbc76c84bd4 id="el-5780e66e32" [attr.pas-horizontal-flex]="''"
                        class="pas-style-5780e66e32 arrow-icon"></div>\n<a #x6300bc78b2 id="el-5477ad622c"
                        [attr.pas-anchor]="''" style="outline: none"
                        class="question pas-style-5477ad622c">{{"Questions"}}</a>\n<a #xf03cf553b7 id="el-8d72d25c8a"
                        [attr.pas-anchor]="''" class="pas-style-8d72d25c8a menu-btn">{{"Articles"}}</a>\n<a #xd200536b8a
                        id="el-5b87a086e3" [attr.pas-anchor]="''"
                        class="menu-btn pas-style-5b87a086e3">{{"Tags"}}</a>\n<a #xc4388e845b id="el-2b6e405017"
                        [attr.pas-anchor]="''" class="menu-btn">{{"Users"}}</a>
                </div>\n<div #xf63b1f77b0 class="pas-style-352619ab50" id="el-352619ab50"
                    [attr.pas-horizontal-flex]="''">
                    <div #xa6b29143b4 id="el-4ed8e36b1c" [attr.pas-horizontal-flex]="''">
                        <div #xa613228e27 id="el-502ba5502e" [attr.pas-horizontal-flex]="''"></div>\n<input #x39bf973b40
                            id="el-03985205b2" [attr.pas-input]="''" value='{{""}}' name='{{""}}'
                            placeholder='{{"Search"}}' type='{{"text"}}' size='{{50}}' />
                    </div>
                </div>\n<div #x0ecd259f51 class="pas-style-485928ae75" id="el-485928ae75"
                    [attr.pas-horizontal-flex]="''">
                    <div #x9febcfbbd6 id="el-e248caa2a8" [attr.pas-horizontal-flex]="''">
                        <div #x0f17de7ca1 id="el-3a0e272635" [attr.pas-horizontal-flex]="''"></div>\n<span #x27abcfd220
                            id="el-81c1ef2d63" [attr.pas--datatext]="''" class="menu-text">2.5 K</span>\n<div
                            #x9e0d2f2821 id="el-0a12067e22" [attr.pas-horizontal-flex]="''" class="color-box">
                            <div #x0452f19cb2 id="el-aef68cad6c" [attr.pas-horizontal-flex]="''"></div>\n<span
                                #x67afc4f952 id="el-f3fc2f3bbb" [attr.pas--datatext]="''" class="menu-text">0</span>
                        </div>\n<div #xd26701fdf4 id="el-7ec3de0d3a" [attr.pas-horizontal-flex]="''" class="color-box">
                            <div #x8e442053f6 id="el-78083707d7" [attr.pas-horizontal-flex]="''"></div>\n<span
                                #x71878c0406 id="el-261b25a11c" [attr.pas--datatext]="''" class="menu-text">0</span>
                        </div>\n<div #x4fb303b9a9 id="el-24bb3e2a92" [attr.pas-horizontal-flex]="''" class="color-box">
                            <div #x7c3f16a279 id="el-42ab3db5f1" [attr.pas-horizontal-flex]="''"></div>\n<span
                                #x267d9a6874 id="el-8789e6ed84" [attr.pas--datatext]="''" class="menu-text">0</span>
                        </div>
                    </div>\n<div #x5b94b2f35e id="el-6394fd50ab" [attr.pas-horizontal-flex]="''">
                        <div #x43041bb2d3 id="el-933540d81f" [attr.pas-horizontal-flex]="''" class="menu-line"></div>\n
                        <div #xcb92a999d6 id="el-fd8b98db61" [attr.pas-horizontal-flex]="''"></div>\n<div #x6a90d44938
                            id="el-19db023912" [attr.pas-horizontal-flex]="''" class="menu-line"></div>\n<div
                            #x1f1b2e9d0b id="el-398698a6a6" [attr.pas-horizontal-flex]="''"></div>\n<div #x58c7cc2184
                            id="el-b6ecaabbe3" [attr.pas-horizontal-flex]="''" class="menu-line"></div>\n<div
                            #xb730467094 id="el-c37c56dbd2" [attr.pas-horizontal-flex]="''"></div>\n<div #x033c948ad7
                            id="el-91560109bc" [attr.pas-horizontal-flex]="''" class="menu-line"></div>
                    </div>
                </div>
            </div>\n<div #x9bdab5559f class="pas-style-8735b78b1c" id="el-8735b78b1c" [attr.pas-grid]="''">
                <div #x4704c9b0f0 class="pas-style-8757cd6634" id="el-8757cd6634" [attr.pas-grid]="''">
                    <div #x6e4939a481 class="pas-style-e08e6ece15" id="el-e08e6ece15" [attr.pas-horizontal-flex]="''">
                        <div #x4ecefea246 id="el-efa25db1aa" [attr.pas-horizontal-flex]="''"
                            class="pas-style-efa25db1aa"><span #xfaf5ad25e7 id="el-c7a9a7a3d3"
                                [attr.pas--datatext]="''">Questions</span>\n<div #x375c1d1dea id="el-a692233fc1"
                                [attr.pas-horizontal-flex]="''">
                                <div #x919e8b5daf id="el-fd8dbaf575" [attr.pas-horizontal-flex]="''"></div>\n<a
                                    #x9ff82a3c3d id="el-d8cc30cc04" [attr.pas-anchor]="''">{{"Filters"}}</a>
                            </div>
                        </div>\n<div #xfb82e74d41 id="el-3225db1e8d" [attr.pas-horizontal-flex]="''">
                            <div #x9733a54dd3 id="el-78682940eb" [attr.pas-horizontal-flex]="''">
                                <div #xdd9b3d6989 id="el-51269897d1" [attr.pas-horizontal-flex]="''"></div>\n<a
                                    #x40df21cb93 id="el-431e34194e" [attr.pas-anchor]="''">{{"New"}}</a>
                            </div>\n<div #xebcb9673ad id="el-b954ce51d2" [attr.pas-horizontal-flex]="''"
                                class="pas-style-b954ce51d2 new-arrow"></div>
                        </div>
                    </div>\n<div #x70e4aac48a class="pas-style-7b5b4935fa" id="el-7b5b4935fa"
                        [attr.pas-vertical-flex]="''">\n <ng-container
                            *ngFor="let iteratoreac2843da6 of Global.appName | keyvalue; let ind850f = index;trackBy:$$$trackByFn">
                            \n <ng-container *ngIf="{value: iteratoreac2843da6.value} as item">
                                <test-comp #xdb7c8c9076 id="el-168cdf2be8"
                                    style="border: 1px solid rgb(204, 204, 204);outline: black solid 0px;max-width: 97%;max-height: 150px;background-color: rgb(255, 255, 255);box-shadow: rgb(238, 238, 238) 0px 1px 1px 1px;display: flex;flex-direction: row;box-sizing: border-box"
                                    [attr.pas-eafb2649ba]="''" [description]='item.value.description'
                                    [quality]='item.value.quality' [title]='item.value.title' [ans]='item.value.ans'
                                    [score]='item.value.score' [views]='item.value.views'
                                    (click)="trigger('', $event, this, xdb7c8c9076, route, router, [])">\n \n
                                </test-comp>
                            </ng-container>\n </ng-container>\n </div>
                </div>\n<div #xc25508a93f class="pas-style-91b62bf125" id="el-91b62bf125" [attr.pas-grid]="''">
                    <div #xc49697625a class="pas-style-8590475310" id="el-8590475310" [attr.pas-vertical-flex]="''">
                        <div #x5255cdea6d class="pas-style-7f85b677cc" id="el-7f85b677cc"
                            [attr.pas-horizontal-flex]="''">
                            <div #x27331c2dd7 id="el-5b1d511c35" [attr.pas-horizontal-flex]="''"><span #x55fbdd1d98
                                    id="el-ea61f0f540" [attr.pas--datatext]="''">728</span>\n<span #x9f519dfb34
                                    id="el-007547a8a6" [attr.pas--datatext]="''">Question(s)</span>\n<a #x116158db09
                                    id="el-b9c4bb9c79" [attr.pas-anchor]="''">{{"Subscribe!"}}</a></div>\n<a
                                #x9b4abf4c98 id="el-8e7689ad91" [attr.pas-anchor]="''"
                                class="ask-btn pas-style-8e7689ad91">{{"ASK QUESTION"}}</a>
                        </div>\n\n <ng-container
                            *ngFor="let iteratore8fa36b979 of Global.tags | keyvalue; let ind3a66 = index;trackBy:$$$trackByFn">
                            \n <ng-container *ngIf="{value: iteratore8fa36b979.value} as item">
                                <tag-card #xbd631bad82 id="el-ec38c71752"
                                    style="border: 1px solid rgb(204, 204, 204);outline: black solid 0px;max-width: 350px;max-height: 100px;width: auto;background-color: rgb(255, 255, 255);box-shadow: rgb(238, 238, 238) 0px 1px 1px 1px;display: flex;justify-content: flex-start;align-items: center;font-weight: 500;font-size: 18px;box-sizing: border-box"
                                    [attr.pas-520993b7ef]="''" [tagname]='item.value.tagname'
                                    [tagoption]='item.value.tagoption'>\n \n </tag-card>
                            </ng-container>\n </ng-container>\n
                    </div>
                </div>
            </div>
        </div>
    </div>
</pali-ide-page>`