*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(77, 75, 75);
}
.container{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}
.contain{
    width: 290px;
    height: auto;
    background-color: whites;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  30px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
    /* overflow: scroll; */
}


.clear-all{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.clear-all > div{
    width: 100px;
    height: 30px;
    color:rgb(66, 164, 245) ;
    font-size: 11px;
}
.long{
    width: 100%;
    height: auto;
}
.main{
    width: 90%;
    height: 100%;
    margin: auto;
    /* border: .5px solid black; */
    display: flex;
    flex-direction: column;
}
.main> div{
    width: 100%;
    height: auto;
    /* border: .5px solid black; */
    border-bottom: .5px solid rgb(226, 221, 221);
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px; */
}
.item{
    display: flex;
    flex-direction: column;
    
}
.top{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 150px;
    padding-left: 10px;
    /* text-align: center; */
}
.bottom1{
    width: 100%;
    height: auto;
    display: none;
    cursor: pointer;
}
.arrow{
    width:30px;
    height: 15px;
    background-image: url(Images/icon1.svg);
    background-size: 1268%;
    background-position: -127px -8px;
    background-repeat: no-repeat;
}
.arrow1{
    width:15px;
    height: 7px;
    background-image: url(Images/5.svg);
    background-size: 2274%;
    background-position: -35px -1px;
    background-repeat: no-repeat;
}
.radio{
    width: 80%;
    height: 210px;
    margin: auto;
    background-color: white;
    cursor: pointer;
}
.radio> div{
    width: 80%;
    height: 33px;
    margin: auto;
    padding-top: 20px;
    cursor: pointer;
}
.bottom2{
    display: none;
    cursor: pointer;
}
.bottom2-inner> div{
    width: 80%;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    

}
input[type=radio]{
    cursor: pointer;
}
.box{
    width: 100%;
    height: 35px;
    background-color: #f8f8f8;
    border: .5px solid rgb(187, 185, 185);
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.search{
    width: 100%;
    height: 35px;
    margin: auto;
    display: flex;
    border-bottom:.5px solid rgb(196, 192, 192) ;
    cursor: pointer;
}
.search-icon{
    width: 30px;
    height: 70%;
    background-image: url(Images/icon1.svg);
    background-size: 900%;
    background-position: -246px 5px;
    background-repeat: no-repeat;
    background-color: transparent;
}
.search-input{
    width: 80%;
    /* height: 80%; */
     border: none;
     /* font-size: 16px; */
     background-color: transparent;
     outline: none;
     z-index: 1;
}
.check{
    width: 100%;
    height: 150px;
    background-color: rgb(204, 199, 199);
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px; */
}
.bottom3{
   display: none; 
   cursor: pointer;
}
.time-box{
    width: 100%;
    height: 50px;
    /* background-color: #f8f8f8;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.search-input1{
    width: 60%;
    /* height: 80%; */
     border: none;
     /* font-size: 16px; */
     background-color: transparent;
     cursor: pointer;
     outline: none;
     z-index: 1;
}
.before{
    width: 120px;
    text-align: center;
    background-color: #f8f8f8; 
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.drop2{
    width: 110px;
    height: 100px;
    position: absolute;
    top: 310px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    display: none;
    cursor: pointer;
}
.drop2> div{
    width: 100%;
    height: 33px;
    padding-left: 10px;
    cursor: pointer;
}
.drop2> div:hover{
    background-color: #f1efef;
}
.bottom4{
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    display: none;
    cursor: pointer;
    /* border: 1px solid red; */
}
.from {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    /* border: 1px solid black; */
}

.search-input2{
    width: 30%;
    height: 20px;
     border: none;
     /* padding-top: -40px; */
     /* font-size: 16px; */
     background-color: transparent;
     outline: none;
     z-index: 1;
     cursor: pointer;
     border-bottom:.5px solid rgb(194, 190, 190) ;
}
.bottom5{
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    cursor: pointer;
    display: none;
}
.bottom6{
    width: 80%;
    height: 50px;
    margin: auto;
    cursor: pointer;
   display: none;
}
.bot-6-con{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border: .5px solid rgb(212, 209, 209);
}
.bottom7{
    cursor: pointer;
    display: none;
}
.bottom8{
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    cursor: pointer;
    display: none;
}
.bottom9{
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.line{
    width: 90%;
    height: 15px;
    background-color: rgb(66, 164, 245);

    border-radius: 20px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin-top: -4px;
    cursor: pointer;
}