@media only screen and (max-width: 1250px){
  
    .short-inner{
    width: 320px;
    }
  
}
@media only screen and (max-width: 1170px) {
  
    .search{
        width: 50px;
    }
    .head{
        justify-content: center;
        /* margin: auto; */ 
    }
    .second{
        width: 15%;
    }
    .first{
        width: 35%;
    }
 
    .zask-text{
        width: 85%;
        /* padding-left: 100px; */
        margin: auto;
    }
    .whole-content{
        max-width: 85%;
        margin: auto;
    }
   
    .subscriber{
        display: none;
    }
    .ask-button{
        font-size: 13px;
    }
    .third{
        width: 35%;
    }
    .long{
        margin-left: -20px;
    }
    .short-inner{
        width: 250px;
    }
    .ask-num{
        width: 110px;
    }
  
    .new-drop{
        left: 550px;
    }
    .arrow-drop{
        left: 100px;
    }
    /* .search{
        width: 130px;
    } */
   
}
@media only screen and (max-width: 1060px){
  .zask-text{
      padding-left: 0;
  }
 
   
}
@media only screen and (max-width: 1050px) {
    .container{
        width: 100%;

    }
    .head{
        justify-content: space-around;
        width: 100%;
    }
    .zask-text{
        width: 95%;
        margin: auto;
       
    }
    .whole-content{
        max-width: 100%;
        justify-content: space-around;
     
    }
     
   /* .search{
    width: 115px;
} */
    .ask-ques{
        width: 85%;
    }
    .tags{
        width: 85%;
    }
   
    .first{
        width: 40%;
    }
    .third{
        width: 35%;
    }
    .short-inner{
        width: 300px;
    }
    .new-drop{
        left: 490px;
    }
    .arrow-drop{
        left: 20px;
    }
   
}
@media only screen and (max-width: 975px) {
    .light-img,.arrow, .questions, .article, .tag, .users, .num1, .num2, .num3, .num4, .profile-icon, .short{
        display: none;
    }
   
    .menu-icon{
        display: block;
    }
   .second{
       width: 35%;
   }
    .search{
        width: 200px;
    }
    .second:focus-within{
        width: 40%;
    }
    .third{
        width: 15%;
    }
    .head{
        justify-content:space-between;
    }
   
    .long{
        width: 85%;
        margin: auto;
    }
    .first{
        width: 100px;
    }
    .light-view{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        /* display: flex; */
        /* justify-content: center; */
        border: .5px solid rgb(69, 167, 248);
        background-color: rgb(69, 167, 248);;
        position: absolute;
        /* top: 80%;
        left: 90%; */
        bottom: 20px;
        right: 20px;
        position: fixed;
        z-index: 1;
    }
    .fixed-light{
        width:45px;
        height:42px;
       
        background-image: url(Images/icon1.svg);
        background-size: 894%;
        background-position: -361px -327px;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-top: 12px;
        margin-left: 12px;
    }
    .fixed-light:hover{
        background-color:rgb(118, 181, 197);
    }
    .light-view:hover{
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px; */
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
    }
    .new-drop{
        left: 590px;
    }
}
@media only screen and (max-width: 935px){
    /* .search{
        width: 250px;
    } */
}
@media only screen and (max-width: 835px){
    /* .search{
        width: 200px;
    } */

   
}
@media only screen and (max-width: 720px){
    .header{
        width: 100%;
    }
    .third{
        width: 25%;
    }
   
  
    .search{
        width: 50px;
    }
}
@media only screen and (max-width: 600px){
    .box{
        display: flex;
        flex-direction: column;
        border: .5px solid rgb(223, 221, 221);
    }
    .flex-box{
        display: flex;
        flex-direction: row;
       border-bottom:1px solid transparent  ;
    }
    .flex-box> div{
        font-size: 12px;
        height: 45px;
        border-left:.5px solid  rgb(223, 221, 221);
      border-bottom:1px solid transparent ;
    }
   .answers{
       border-bottom:2px solid rgb(134, 226, 180) !important;
    
   }
    .big{
        grid-auto-rows:200px;
    }
    .auto-box-inner{
        height: 80%;
    }
    /* .search{
        width: 130px;
    } */
   
}
@media only screen and (max-width: 550px){
    .mail-icon{
        display: none;
    }
    .icon-mail{
        /* width:500px; */
        align-items: flex-end;
        justify-content: space-between;
        text-align: center;
        padding-left: 40px;
    }
    .ques-text{
        display: none;
    }
    .mail-detail{
        width: 100%;
    }
    .light-view{
        left: 80%;
    }
    
}
@media only screen and (max-width: 450px){
    .long{
        width: 80%;
    }
   
    .box{
        width: 80%;
        height: 220px;
        margin: auto;
    }
    .big{
        width: 100%;
        /* height: auto; */
    }
    .ques{
        width: 80%;
        margin: auto;
    }
   
    .mail-detail{
        font-size: 9px;
    }
    .mail-detail > span{
        font-size: 10px;
    }
}
@media only screen and (max-width: 350px){
    .head{
        width: 90%;
        margin: auto;
        justify-content: space-between;
    }
    .first{
        width: 18%;
    }

   
}